30 * * * * /bin/bash -c "/usr/bin/python /tmp/django/wikicount/memcache_set_vars.py"
31 * * * * /bin/bash -c "/usr/bin/python /tmp/django/wikicount/scripts/memcache_draw_trending_graphs.py"
32 * * * * /bin/bash -c "/usr/bin/python /tmp/django/wikicount/scripts/memcache_draw_cold.py"
33 * * * * /bin/bash -c "/usr/bin/python /tmp/django/wikicount/scripts/memcache_draw_random_graphs.py"
34 * * * * /bin/bash -c "/usr/bin/python /tmp/django/wikicount/scripts/memcache_draw_threehour.py"
