30 * * * * "/usr/bin/python /tmp/django/wikicount/memcache_set_archive1.py"
31 * * * * "/usr/bin/python /tmp/django/wikicount/memcache_set_cold.py"
32 * * * * "/usr/bin/python /tmp/django/wikicount/memcache_set_random.py"
33 * * * * "/usr/bin/python /tmp/django/wikicount/memcache_set_trending.py"
33 * * * * "/usr/bin/python /tmp/django/wikicount/memcache_set_threehour.py"
34 * * * * "/usr/bin/python /tmp/django/wikicount/memcache_set_lasthour.py"

