
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	{% include 'meta_expires.html' %}
	<link rel="stylesheet" href="{{ STATIC_URL}}/style.css" type="text/css" />
	<title>Wikitrends.info</title>
</head>
<body>
	{% include 'analytics.html' %}
	<div id="page" align="center">
		<div id="content" style="width:800px">
			<div id="logo">
				<div style="margin-top:70px" class="whitetitle">Wikitrends.Info</div>
			</div>
			<div id="topheader">
				<div align="center" class="bodytext">
				<br />
					<script type="text/javascript"><!--
google_ad_client = "ca-pub-0382768768507923";
/* TopOPage */
google_ad_slot = "8807406089";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
				</div>
				<div id="toplinks" class="smallgraytext">
				</div>
			</div>
			<div id="menu">
				<div align="right" class="smallwhitetext" style="padding:9px;">
					<a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a>
				</div>
			</div>
			<div id="submenu">
					{% include 'menu_list.html' %}
			</div>
			<div id="contenttext">
				<div style="padding:10px">
					<span class="titletext">{% include 'Infotitletext.html' %}</span>
					<span class="bodytext">{% include 'titledesc.html' %}</span>
				</div>
					<div class="graypanel" style="padding:12px;" align="justify">
					<div align="center">Hits by Hour</div>
					{% include 'hour_graph.html'%}
					{% if T50GRAPHFILESIZE > 0 %}
					<div align="center">Days in the top 50</div>
					{% include '50_graph.html' %}
					{% endif %}
					{% if T500GRAPHFILESIZE > 0 %}
					<div align="center">Days in the top 500</div>
					{% include '500_graph.html' %}
					{% endif %}
					{% if T5KGRAPHFILESIZE > 0 %}
					<div align="center">Days in the top 5000</div>
					{% include '5k_graph.html' %}
					{% endif %}
					{% if T50KGRAPHFILESIZE > 0 %}
					<div align="center">Days in the top 50,000</div>
					{% include '50k_graph.html' %}
					{% endif %}
					<div align="center">Days in the top 250,000</div>
					{% include '250k_graph.html' %}
					</div>	
				</div>
			</div>
			<div id="leftpanel">
				<div align="justify" class="graypanel">
					<span class="smalltitle">News</span><br /><br />
					{% include 'news_list.html' %}
				</div>
			</div>
			<div id="footer" class="smallgraytext">
				<a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a>
				| Rob Berkes 
				&copy; 2012 | <a href="http://www.winkhosting.com" target="_blank">HTML Template Courtesy of Hosting Colombia</a> 
			</div>
		</div>
	</div>
</body>
</html>
