<div align="right" class="smallgraytext" style="padding:9px;">
     <a href="http://www.wikitrends.info/trending.htm">Trending, 3hr avg</a> | <a href="http://www.wikitrends.info/listLast.htm">Most recent</a> | <a href="http://www.wikitrends.info/cold.htm">Going cold...</a> | <a href="http://www.wikitrends.info/random.htm">Random</a> | <a href="http://www.wikitrends.info/debuts.htm">Debuting ...</a> | <a href="http://www.wikitrends.info/cat_top.htm">Top Categories</a> | <a href="http://www.wikitrends.info/files.htm">Top Images/Files</a>
</div>

