<div align="right" class="smallgraytext" style="padding:9px;">
     <a href="http://www.wikitrends.info/trending.htm">Trending Articles</a> | <a href="http://www.wikitrends.info/search.htm">Search</a> | <a href="http://www.wikitrends.info/archives.htm">Archives</a> | <a href="http://www.wikitrends.info/cold.htm">Going cold...</a> | <a href="http://www.wikitrends.info/random.htm">Random</a> | <a href="http://www.wikitrends.info/debuts.htm">Debuting ...</a> | <a href="#"></a> | <a href="http://www.wikitrends.info/blog.htm"></a>
</div>

