
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="" />
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
	{% include 'meta_expires.html' %}
	<link rel="stylesheet" href="{{ STATIC_URL}}/style.css" type="text/css" />
	<title>Wikitrends.info</title>
</head>
<body>
	{% include 'analytics.html' %}
	<div style="padding:10px">
                                 <span class="titletext">{% include 'titletext.html' %}</span>
        </div>

<div class="bodytextcustom" style="padding:12px;" align="justify">
                                        {% include 'Mobile_title_listI18.html' %}
                                </div>

</body>
</html>
