{% for item in latest_hits_list %}
                <li>{{ item.place }}.<a href="http://en.wikipedia.org/wiki/{{item.linktitle}}"> {{ item.title }} </a>-<a href="http://www.wikitrends.info/infoview/{{item.id}}">info</a>...<a href="https://www.google.com/search?hl=en&gl=us&tbm=nws&q={{item.title}}&oq={{item.title}}">search Google News</a>...<a href="https://twitter.com/search?q={{item.title}}&src=typd">search Twitter</a>...<a href="http://www.reddit.com/search?q={{item.title}}">search Reddit</a>...</li>
{% endfor %}
